/*
Orden fuentes
*/

$primary-font: $lato;
$primary-font-regular: $lato-regular;
$primary-font-bold: $lato-bold;
$secondary-font: $spartan;
$secondary-font-lighter: $spartan-lighter;
$secondary-font-light: $spartan-light;
$secondary-font-regular: $spartan-regular;

/*
fonts size
*/

$font-size-xxx-large: 2.5rem;
$font-size-xx-large: 1.875rem;
$font-size-x-large: 1.25rem;
$font-size-large: 1.125rem;
$font-size-medium: 1rem;
$font-size-small: 0.875rem;
$font-size-x-small: 0.75rem;